[submodule "timagotchi-pcb/libraries/ProMicro"]
	path = timagotchi-pcb/libraries/ProMicro
	url = https://github.com/Biacco42/ProMicroKiCad.git
[submodule "timagotchi-pcb/libraries/ssd1306"]
	path = timagotchi-pcb/libraries/ssd1306
	url = https://github.com/pforrmi/KiCad-SSD1306-128x64.git
